[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.cache
*.vsp
*.vspscc
*.pidb
*.userprefs
*.ncrunchsolution
*.dotCover
*.sln.iml



*.nupkg
# NuGet Symbol Packages
*.snupkg
nuget.exe

*~


[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
*.coverage
*.coveragexml

## Файлы аналитики кода
*.ruleset
fxcop.proj
StyleCop.Cache

## Файлы манифеста ClickOnce
app.publish/
Application Files/

## Файлы Azure
*.azurePubxml
*.pubxml
*.publishsettings

## Файлы Docker
.dockerignore
Dockerfile
docker-compose.yml

## Файлы Python (если используете)
__pycache__/
*.pyc

